<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav class="navbar">
        <ul>
<li><a href="#" id="graph-view" data-view="graph">Graph View</a></li>
<li><a href="#" id="documents" data-view="documents">Documents/Files</a></li>
<li><a href="#" id="editor" data-view="editor">Editor</a></li>
<li><a href="#" id="settings" data-view="settings">Settings</a></li>
        </ul>
    </nav>
    <script src="navbar.js"></script>
</body>
</html>
