<!DOCTYPE html>
<html>

<head>
  <title>Mentus Tab</title>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>

<body>
  <div class="container">
    <div id="chatbar" class="chatbar">
      <div id="chatbar-content">
        <div id="chat-messages" class="chat-messages"></div>
        <div class="chat-input-container">
          <input type="text" id="chat-input" placeholder="Type a message...">
          <button id="send-button">Send</button>
        </div>
      </div>
    </div>
    <div id="main-content" class="main-content">
    <div class="tabs">
      <button class="tab-button" data-tab="graph">Graph</button>
      <button class="tab-button" data-tab="docs">Docs</button>
      <button class="tab-button" data-tab="editor">Editor</button>
      <button class="tab-button" data-tab="settings">Settings</button>
    </div>
    <div id="tab-content">
      <div id="graph" class="tab-content active">Graph Content</div>
      <div id="docs" class="tab-content">Docs Content</div>
      <div id="editor" class="tab-content">Editor Content</div>
      <div id="settings" class="tab-content">
        <div class="form-group">
          <label for="chat-models">Chat Models:</label>
          <select id="chat-models">
              <option value="">Select a model</option>
          </select>
        </div>
      </div>
    </div>
    </div>
  </div>
  <script src="./mentus_tab.js"></script>
</body>

</html>
