#graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    #graph-container {
        height: 50vh;
    }
}

@media (max-width: 480px) {
    #graph-container {
        height: 30vh;
    }
}
