/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: #fff;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

/* Chatbar Styles */
.chatbar {
  background-color: #1e1e1e;
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

#chatbar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.chat-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #444;
}

#chat-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  margin-right: 10px;
  font-size: 14px;
}

#send-button {
  width: 15%;
  min-width: 60px;
  max-width: 20%;
  padding: 8px 0;
  border: none;
  border-radius: 20px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#send-button:hover {
  background-color: #45a049;
}

.model-save-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.small-button {
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 10px;
}

/* Chat model selection dropdown styles */
#chat-models {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 14px;
}

/* Save chat button styles */
#save-chat {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#save-chat:hover {
  background-color: #45a049;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  padding: 10px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button:hover {
  background-color: #484C52;
}

.tab-button.active {
  background-color: #484C52;
}

#tab-content {
  flex: 1;
  overflow: auto;
}

.tab-content {
  display: none;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #2F3136;
  box-sizing: border-box;
}

.tab-content.active {
  display: block;
}

/* Specific tab styles */
#graph, #docs, #editor, #settings {
  height: 100%;
}

/* Object Styles */
object {
  width: 100%;
  height: 100%;
  border: none;
}
